body { background-color: #FFFFFF; }

/* div {margin:0px; border: 1px solid #aaaaaa;}*/

/*
#login { background-color: #AAAAAA; }
#loginbox { background-color: #FF0000; }
#langbox { background-color: #AA0000;}
#msgbox { background-color: #00FF00; }
#menubox { background-color: #00AA00; }
#weatherbox { background-color: #0000FF; }
#toolbarbox { background-color: #0000AA; }
#serverbox { background-color: #FFFF00; }
#statusbox { background-color: #FFFFFF;}
#racenamebox { background-color: #AA00AA; }
#raceicbox { background-color: #FF0000; }
#costpenaltybox { background-color: #777777; }
#wplistbox { background-color: #AA0000; }
#racebox { background-color: #FF1111;}
#sosbox { background-color: #0000FF; }
#yourboatbox { background-color: #000000; }
#yourboatsummarybox { background-color: #00AFAF; }
#yourboatstatusbox { background-color: #00AAAA; }
#instrumentbox { background-color: #44FF44; }
#messagebox { background-color: #ABCDEF; }

#controlbox { background-color: #D0AAD0; }
#autopilotcontrolbox { background-color: #DADADA; }
*/


/* RACEBOX */

#racebox { display:block; width:100%; }
#racenamebox { display:inline; float:left; font-weight: bold; vertical-align: top;}
#minimapbox { display:inline; float:left; }
#raceicbox {display:inline; float:right; text-align: right; vertical-align: top; } /* top:0px; right:0px; position:relative;} */
#costpenaltybox { font-weight: bold; color: #E0F080;}
#wplistbox { font-weight: bold; } 

/* BOATBOX */

#yourboatbox { clear:both; display:block; width:100%; min-height:50px;}
#sosbox { display:block; float:right; text-align: right;}

#yourboatsummarybox { display:inline; float:left; vertical-align:top; text-align: center; }
#yourboatstatusbox { display:inline; float:left; vertical-align:top; margin-left: 1em; margin-right: 1em; text-align:center;}

img.minimap {
width:50px;
height:34px;
}

/* INSTRUMENT BOXES (+message) */

#instrumentbox
{
  clear:both; display:block; width:100%;
  border-top: groove 3px #DDDDF0;
  margin-top: 3px;
  min-width: 821px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  height: 140px;
}

#messagebox {
display:block;
float:right;
vertical-align: top;
width: 335px;
/* 821 - 3*140 - 1 */
}

div.instrument {
display:inline;
float:left;
}

#instrumentbox img {
width: 160px;
height: 160px;
}


#messagelist {
display:block;
height: 160px;
overflow:auto;
}

#messagebox div {
display:list-item;
margin-left: 1.5em;
}

#blocnotebox {
display:list-item;
margin-left: 1.5em;
}

/* CONTROL BOX */

#controlbox
{
  clear:both; display:block; width:100%;
  border-top: groove 3px #DDDDF0;
  margin-top: 3px;
  min-width: 821px;
}

div.controlitem {
display:inline;
float:left;
margin: 0em;
margin-left: 3px;
margin-right: 3px;
text-align: center;
border-right: dashed 1px #DDDDF0;
}

.controlform {
  display: block ;
  text-align: center
}

#morecontrolbox {
  display:block;
  float:right;
  border-right: 0px;
}

#autopilotcontrolbox div {display:block;}
#windanglecontrolbox div {display:block;}

#wpbasedcontrolbox div {
  display:block;
  float:none;
  margin: 0px;
  border: none ;
}

#wpcontrolbox {
float:left;
display:block;
}

#wpaction {display:inline; text-align:right; }
#wphcontrolbox {display:inline;}


#wpcoordscontrolbox { display:block; text-align:right;}
#wpmorecontrolbox {display:block; text-align:left;}

#morecontrolbox div {
  display:block;
  float:none;
  margin: 0px;
  border: none ;
  text-align: center
}


.texthelpers { font-weight: bold; display:inline; white-space: wrap}
.texthelpers * {display:inline;}
.titlehelpers{ font-weight: bold; display:inline; }
.subtitlehelpers { font-weight: bold; display:inline;}
.texthelperscomment { font-style: italic; white-space: wrap}
/* visibility: hidden; display:none; }*/ 
.inputhelpers {} 
input.dynamichelper {
  display:inline;
  border:0px;
  background-color: #90A0A0;
  color:black;
  text-align:center;
  /*visibility:none;*/
}



/* MAPBOX */

#mapbox
{
  clear:both; display:block; width:100%;
  border-top: groove 3px #DDDDF0;
}


div.mapboxitem {
display:inline;
float:left;
margin: 0em;
margin-top:3px;
/*border: 2px solid red ;*/
text-align: left;

}
div.mapboxsubitem {
display:block;
}
#mapinputbox {
float:right;
}

#mapinputbox * {
text-align:right;
}
#displaymapaction {
text-align:right;
}

.mapboxitem p {
margin: 0em;
}

.actionbuttonwarn {
background-color:#aaffaa;
}

.inputwarn {
background-color:#aaffaa;
}

