#Exemple de crontab de récupération des gribs
VLMRACINE=/home/vlmtest
20 3    * * *   $VLMRACINE/bin/noaa-slave.sh 00 > /dev/null 2>&1
20 9    * * *   $VLMRACINE/bin/noaa-slave.sh 06 > /dev/null 2>&1
20 15   * * *   $VLMRACINE/bin/noaa-slave.sh 12 > /dev/null 2>&1
20 21   * * *   $VLMRACINE/bin/noaa-slave.sh 18 > /dev/null 2>&1
