# Visual Studio Code workspace settings and typings
.vscode/.BROWSE.*
.vscode/*.db
*/.vscode/*
.vscode/
jvlm/images/MapOptions.pdn
jvlm/images/empty.png
jvlm/config.js
jvlm/config.js
jvlm/index.html
jvlm/config.js
jvlm/index.html

jvlm/jvlm\.css\.map
