//webhost
webhost = window.location.hostname;

//Url for the cache
tilesUrlArray = "/cache/gshhstiles/${z}/${x}/${y}.png";
//You may put an array here, example :
//tilesUrlArray = [ "http://c1.v-l-m.org/gshhstiles/${z}/${x}/${y}.png", "http://c2.v-l-m.org/gshhstiles/${z}/${x}/${y}.png", "http://c3.v-l-m.org/gshhstiles/${z}/${x}/${y}.png", "http://c4.v-l-m.org/gshhstiles/${z}/${x}/${y}.png" ];

if (webhost.match("v-l-m.org"))
{
    // v-l-m.org
    bingApiKey = "AkBdZQ5s2ay67yXs9xruMVOPDAikz_CycgDXLoFwJGrfi2rjsGNq8ijo4DddYF7t";
}

if (webhost.match("v-l-m.org"))
{
    // v-l-m.org
    bingApiKey = "AmcAzdaZ8u4cWpQo9qPF7_U4q-vW_u3bsprZ4rqu1kJppx_porBOvOELFXWZiHLE";
}

// URI to distribute windgridrequest among servers
var WindGridServers = ["https://c1.v-l-m.org","https://c2.v-l-m.org","https://c3.v-l-m.org","https://c4.v-l-m.org"]

if (webhost == 'vlm-dev.ddns.net')
{
    tilesUrlArray='/cache/gshhstiles/${z}/${x}/${y}.png'

    var WindGridServers = ['https://vlm-dev.ddns.net','https://vlm-dev.ddns.net','https://vlm-dev.ddns.net','https://vlm-dev.ddns.net'];
    
}

