-- Section for xmpp on v-l-m.org

VirtualHost "iridium.v-l-m.org"
    -- VirtualHost "iridium.v-l-m.org"
    -- enabled = false -- Remove this line to enable this host
  
    -- Assign this host a certificate for TLS, otherwise it would use the one
    -- set in the global section (if any).
    -- Note that old-style SSL on port 5223 only supports one certificate, and will always
    -- use the global one.
    ssl = {
      key = "/etc/prosody/certs/iridium.v-l-m.org.key";
      certificate = "/etc/prosody/certs/iridium.v-l-m.org.cert";
      }

-- Set up a MUC (multi-user chat) room server on conference.example.com:
Component "vhf.iridium.v-l-m.org" "muc"
Component "search.iridium.v-l-m.org" "vjud"

authentification = "sql";
