body
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial,Sans-serif;
  background-color: #DDDDF0;
  color: black;
  margin: 1px; /*need to be forced*/

}

#contenaire{
        width:982px;
}
#login
{
  width: 150px;
  float: left;
  font-size: 70%;
  background-color: #90A0A0;
  border: 1px solid #2c4897;
  margin-left: 1px;
  min-height: 180px;
  color: black;
  margin-bottom: 0 ;/*0 important sinon menu va pas en dessous*/
}

.leftbox {
  border-top: groove 3px #DDDDF0;
  padding: 3px;
}

#loginbox {}
#langbox {}
#msgbox {}
#menubox {}
#weatherbox {}
#toolbarbox {}
#serverbox {}

#messagebox ul {
        margin-left: 0.5em;
        padding-left: 1em;
        text-indent: 0em;
}

#langbox img {
    width: 25px;
}

#main
{
  width: 825px;
  float: right;
  color: black;
  font-size: 70%;
  background-color: #90A0A0;
  border: 1px solid #2c4897;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;
  overflow-x:auto;
  overflow:-moz-scrollbars-horizontal;
  scrollbar-face-color: #90A0A0;
  scrollbar-shadow-color: #000000;
  scrollbar-highlight-color: #000000;
  scrollbar-3dlight-color: #90A0A0;
  scrollbar-darkshadow-color: #90A0A0;
  scrollbar-track-color: #90A0A0;
  scrollbar-arrow-color: #000000;
}

#text
{
  padding: 0.5%;
}


#menu
{
  min-width: 100px;
  min-height: 20px;
  float: left;
  color: black;
  background-color: #90A0A0;
  border: 1px solid #2c4897;
  margin: 1px;
  margin-right: 0px;
  margin-left: 5px;
  width: 20%;
}

#minimap
{
  text-align: center;
}

#baneer
{
  margin: 1px;
  height: 82px;
  width: 980px;
  background-image:  url('/images/site/banniere_haut.jpg');
}

#time
{ 
  width: 823px;
  background-color: #B05051;
  border: 0px solid #2c4897;
  text-align: center;
  float: left;
  margin-left:  1px;
  margin-right: 1px;
}

#infobulle
{
  position: absolute; 
  visibility : hidden;
  /* width: auto; height: auto; */
  /*background-color: #E0E0A0; */
  /*border: 0px solid #2c4897;*/
}

#boat
{
  background-color: #90A0A0;
  border: 1px solid #2c4897;
  width: 821px;
  float: left;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

#boatimg
{
  float: left;
  margin-top: 10px;
  margin-left: 2px;
  width: 150px;
  height: 150px;
  text-align: center;

}

#simple
{
  background-color: #90A0A0;
  border: 1px solid #2c4897;
  float: left;
  min-height: 100px;
  min-width: 821px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
}


#expert
{
  background-color: #90A0A0;
  border: 1px solid #2c4897;
  float: right;
  min-height: 100px;
  min-width: 823px;
  margin-right: 1px;
  margin-top: 1px;
  margin-left: 1px;
}

#displaymode
{
  background-color: #90A0A0;
  border: 1px solid #2c4897;
  float: right;
  min-height: 100px;
  min-width: 572px;
  margin-right: 1px;
  margin-top: 1px;
  margin-left: 1px;
}

#footer{
  clear: both;
  width: 740px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  /*background: url(img/footer.png) no-repeat center;*/
  text-align: center;
}


/*a.link*/
a
{
  /*color: #E1EDF5;*/
  color: #F0F0F0;
  /*background-color: transparent;*/
  text-decoration: none;

}
a.ranking
{
  color: #000000;
  /*background-color: transparent;*/
  text-decoration: none;

}
a.passedwp
{
  color: #20A020;
  /*background-color: transparent;*/
  text-decoration: none;

}
a.nextwp
{
  color: #A0A010;
  /*background-color: transparent;*/
  text-decoration: none;

}
a.notpassedwp
{
  color: #E04040;
  /*background-color: transparent;*/
  text-decoration: none;

}

a:hover
{
  /*color: black;*/
  background-color: #9cf;
  /*text-decoration: underline;*/
}

#grid td {height: 21px; width: 21px; padding: 0; line-height: 21px;}

div.infobulle
{ 
  background-color: #E0E0A0;
  border: 1px solid black ;
  color: black;
  text-decoration: none;
}

img.map
{
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #90A0A0;
  border: 5px solid #2c4897;
}

img.babord
{
  margin-top: 1px;
  border: 3px solid #E02020;
}

img.tribord
{
  margin-top: 1px;
  border: 3px solid #00A020;
}

img
{
  border: 0;
}


h1
{
  font-size: 100%;
  font-weight: bold;
  color: #111111;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial, Sans-serif;
  padding-right:10px;
  margin-top:0px;
  padding-top:10px;
  line-height:10px;
}

h1.info
{
  font-size: 14px;
  font-weight: bold;
  color: #A01111;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial, Sans-serif;
  padding-right:10px;
  margin-top:2px;
  line-height:18px;
}

h2
{
  font-size: 100%; 
  font-weight: bold; 
  color: #222222;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial, Sans-serif; 
  padding-right:10px;
  
  line-height:0px;
}

h3
{
  font-size: 100%; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial, Sans-serif;
  color: #333333;
}

h4
{
  font-size: 100%; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial, Sans-serif;
  color: #444444;
}

h4.tribord
{
  font-size: 80%; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial, Sans-serif;
  color : #00A020;
  text-align: center;
}
h4.babord
{
  font-size: 80%; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Verdana, Arial, Sans-serif;
  color : #E02020;
  text-align: center;
}


acronym 
{
  border-bottom: dashed 1px white;
  cursor: help;
}


center
{
  display: none;
}

table 
{
  border-collapse: collapse;
}

table.boat
{ 
  border: 0px ;
}

th 
{ 
  background-color: #7070A0;
  border: 1px solid black ;
  color: black;
}

th.ranking
{ 
  background-color: #E0E0A0;
  border: 0px solid black ;
  color: black;
}

th.htmltable
{ 
  background-color: #E0E0A0;
  border: 0px solid black ;
  color: black;
}

tr 
{ 
  border: 0px solid black ;
}

tr.ranking
{ 
  border: 0px solid black ;
  background-color: #90A0A0;
}

tr.realboat
{ 
  background-color: #90E0C0;
  border: 1px solid black ;
  color: black;
  text-decoration: none;
}
tr.hilight
{ 
  background-color: #E0E0A0;
  border: 1px solid black ;
  color: black;
  text-decoration: none;
}

tr.hilightopps
{ 
  background-color: #90B0C0;
  border: 1px solid black ;
  color: black;
  text-decoration: none;
}

tr.locked
{ 
  background-color: #C090A0;
  border: 1px solid black ;
  color: black;
  text-decoration: none;
}

tr.oncoast
{ 
  background-color: #808080;
  border: 1px solid black ;
  color: black;
  text-decoration: none;
}


td 
{ 
  border: 1px solid black ;
  color: black;
  text-decoration: none;
}

td.hilight
{ 
  background-color: #E0E0A0;
  text-decoration: none;
  border: 1px solid #A0A0A0;
  color: black;
  font-size: 150%; 
  padding: 5px;
}

td.nohilight
{ 
  background-color: #606080;
  text-decoration: none;
  border: 1px solid #A0A0A0;
  color: blue;
  font-size: 150%; 
  padding: 5px;
}

td.ranking
{ 
  border: 1px solid black ;
  text-decoration: none;
  color: black;
}

td.map
{ 
  border: 0px solid black ;
}

td.htmltable
{ 
  border: 0px solid black ;
  color: black;
}

td.boat
{ 
  border: 0px solid black ;
}

td.capfixe
{ 
  border: 0px solid black ;
  background-color: #90A0A0;
  text-decoration: none;
}

td.regulateur
{ 
  border: 0px solid black ;
  background-color: #90A0A0;
  text-decoration: none;
}

td.orthopilot
{ 
  border: 0px solid black ;
  background-color: #90A0A0;
  text-decoration: none;
}

td.pilototo
{ 
  border: 0px solid black ;
  background-color: #90A0A0;
  text-decoration: none;
}

input.blue {
  border:0px solid black;
  #font-family:"Courier",sans-serif;
  background-color: #90A0A0;
  color:black;
}


