#Exemple de crontab de récupération des gribs
VLMRACINE=/home/vlmtest
34 3    * * *   $VLMRACINE/bin/noaa-slave.sh 00 > /dev/null 2>&1
34 9    * * *   $VLMRACINE/bin/noaa-slave.sh 06 > /dev/null 2>&1
34 15   * * *   $VLMRACINE/bin/noaa-slave.sh 12 > /dev/null 2>&1
34 21   * * *   $VLMRACINE/bin/noaa-slave.sh 18 > /dev/null 2>&1
