# Moteur toutes les 5 minutes
VLMRACINE=/base/de/vlm
*/5 * * * *     $VLMRACINE/vlmcode/moteur/cron-vlm.sh
2-59/5 * * * *     $VLMRACINE/vlmcode/moteur/cron-vlm-clean.sh

# On the db
0 2 * * 5	$VLMRACINE/vlmcode/moteur/cron-vlm-optimize.sh

# On the tiles servers
0 2 * * *	$VLMRACINE/vlmcode/moteur/clean_tilescache.sh > /dev/null

# Positions reels
4-59/20 * * * * $VLMRACINE/vlmcode/moteur/cron-position-bateaux-reels.sh > /dev/null

# News feeding
0 * * * * $VLMRACINE/vlmcode/moteur/feed/feed.sh 7*24*3600 3600
0 * * * * $VLMRACINE/vlmcode/moteur/feed/feed.sh 2*24*3600 3600
*/10 * * * * $VLMRACINE/vlmcode/moteur/feed/feed.sh 1*24*3600 600
* * * * * $VLMRACINE/vlmcode/moteur/feed/feed.sh 3600 60

#News notification
* * * * * $VLMRACINE/vlmcode/moteur/notify/notify.sh identica
*/5 * * * * $VLMRACINE/vlmcode/moteur/notify/notify.sh facebook
*/5 * * * * $VLMRACINE/vlmcode/moteur/notify/notify.sh mail

#Cron Daily
3 2 * * * $VLMRACINE/vlmcode/moteur/cron-vlm-daily.sh
