@import url("../classic/style.css");

body
{
  background-color: #FFFFFF;
}

#baneer
{
  /*background-color: #2b597b;*/
  background-image:  url('/images/site/banniere_haut.jpg');
  background-repeat: no-repeat

}

#baneercenterbox
{
  position:absolute;
  top:5px;
  left:610px;
  background-image:  url('/images/logos/rywc-logo-h75.png');
  background-repeat: no-repeat;
  height:75px;
  width:290px;
  /* CSS3 standard */
  opacity:0.9;
  /* for IE - FIXME : remove me one day */
  filter:alpha(opacity=90);
}
.leftbox {
    border-bottom: 3px groove #FED000;
	background-color: #FFFFFF;/*#0E3680;*/
}

#main {
  background-color: #f5f5f5;
  border: 1px solid #0E3680;
  color:#011744;
}

a {
    color: #011744;
    text-decoration: none;
}
a:hover {
    color: #E31C18;
}
.texthelpers, #costpenaltybox, .titlehelpers, h1.info {
  color:#E31C18;
  font-weight:normal;
}


#wplistbox a.passedwp
{
  color: #00ff00;
  text-decoration: none;

}
#wplistbox a.nextwp
{
  color: #E31C18;
  text-decoration: none;

}
#wplistbox a.notpassedwp
{
  color: #011744;/*#2b597b;*/
  text-decoration: none;
}



#infobulle, div.infobulle {
  background-color: #f5f5f5;
  color: #E31C18;
  /* CSS3 standard */
  opacity:0.9;
  /* for IE - FIXME : remove me one day */
  filter:alpha(opacity=90);
}








#racenamebox a, #yourboatsummarybox a, #infomessage a, #costpenaltynumber {
  color:#011744;
}




.actionbuttonwarn, .inputwarn {
  background-color:#6894c4;
}

#leftcolumn {
  background-color: #0E3680;
}


#vlmcontrolbox, #instrumentbox, #mapbox, #time {
  border-top: 5px groove #0E3680;
}

input.dynamichelper {
  border:0px;
  background-color: #ffffff;
}

#abandon {
  background-color: #dddddd;
  border-color: #ff1010;
}



th
{ 
  background-color:#011744;
  color:white;
}

td
{ 
  background-color: #eeeeee;
}

td.nohilight
{ 
  background-color: #6894c4;
  color:white;
}



tr.hilight *
{ 
  background-color: #E0E0A0;
}

tr.hilightopps *
{ 
  background-color: #90B0C0;
}

tr.locked *
{ 
  background-color: #C090A0;
}

tr.oncoast *
{ 
  background-color: #808080;
}

.fc-event  * {
  color: #FFFFFF;
}

