#/home/vlm/cache/ est le chemin d'hébergement des fichiers de vlm
#http://www.v-l-m.org est l'url principale du site (qui est maitre sur le cache)

<VirtualHost *:80>
        ServerAdmin admin@actilis.net

        DocumentRoot /home/vlm/cache
        ServerName cache.virtual-loup-de-mer.org
        ServerAlias cache.v-l-m.org
        ServerAlias c1.virtual-loup-de-mer.org
        ServerAlias c1.v-l-m.org
        ServerAlias c2.virtual-loup-de-mer.org
        ServerAlias c2.v-l-m.org
        ServerAlias c3.virtual-loup-de-mer.org
        ServerAlias c3.v-l-m.org
        ServerAlias c4.virtual-loup-de-mer.org
        ServerAlias c4.v-l-m.org

        ErrorLog    /home/vlm/logs/apache2/vlmcache_error_log
        CustomLog   /home/vlm/logs/apache2/vlm_access_log combined

        <Directory /home/vlmtest/cache>
                Order Allow,Deny
                Allow from All
                #Don't use the .htaccess for cache vhost
                AllowOverride None

                Options FollowSymLinks
                RewriteEngine On

                RewriteCond %{SCRIPT_FILENAME} !-f
                RewriteCond %{SCRIPT_FILENAME} !-d
                RewriteRule ^(.*)$ http://www.virtual-loup-de-mer.org/cache/$1 [R]

        </Directory>

</VirtualHost>
