@import url("../oceanexpress/style.css");

#main {}

#baneercenterbox
{
  position:absolute;
  background-image:  url('/images/logos/logo_defiocto_newyork_lorient.png');
  background-repeat: no-repeat;
  left:300px;
  top:1px;
  margin: 0px;
  height: 100px;
  width:150px;
}

#pubbox1 {
  background-image:  url('/images/logos/soutien_oceanexpress1.png');
  background-repeat: no-repeat;
  height:140px;
  width:140px;
  margin:5px;
}
