<Files *.trigger.php>
Deny from all
</Files>

<Files adminheader.php>
Deny from all
</Files>

<Files adminfooter.php>
Deny from all
</Files>

<Files htmlstart.php>
Deny from all
</Files>

<Files htmlend.php>
Deny from all
</Files>

