<?php
define("SERVER_NAME", "DEV");

/********to_be_change****************/
define("DBSERVER", "databaseserver");
define("DBUSER", "databaseuser");
define("DBPASSWORD", "databasepassword");
define("DBNAME", "databasename");

// SYSTEME DE GESTION DU VENT : OLD, NEW, NO, SPF
define("SYSTEME_WIND_AT_POSITION", "SPF");

?>
