<Files /f_windAtPosition.php>
  Order Allow,Deny
  Deny from All
</Files>
<IfModule mod_php5.c>
  php_value include_path ".:/home/vlm/vlmcode/lib/phpcommon:/usr/share/php:"
</IfModule>
Options Indexes Includes FollowSymLinks
