/home/vlm/logs/apache2/*_log {
        daily
        missingok
        rotate 10
        compress
        delaycompress
        notifempty
        create 640 www-data vlm
        sharedscripts
        postrotate
                /etc/init.d/apache2 reload > /dev/null
        endscript
}

